---
const { t } = Astro.props;
---

<nav id="site-navigation">
  <h2>{t.siteNavigation.title}</h2>
  <a href={t.siteNavigation.projectsPage.url}>
    {t.siteNavigation.projectsPage.title}
  </a>
  <a href={t.siteNavigation.aboutPage.url}>
    {t.siteNavigation.aboutPage.title}
  </a>
</nav>
