---
const { t } = Astro.props;
---

<nav>
  <a href={t.socials.github.url}>{t.socials.github.message}</a>
  <a href={t.socials.linkedIn.url}>{t.socials.linkedIn.message}</a>
  <a href={t.socials.emailMe.url}>{t.socials.emailMe.message}</a>
  <a href={t.socials.downloadResume.url}>{t.socials.downloadResume.message}</a>
</nav>
