---
import Hero from "@/components/common/Hero.astro";
import Socials from "@/components/common/Socials.astro";
import SiteNavigation from "@/components/common/SiteNavigation.astro";
import TableOfContents from "@/components/common/TableOfContents.astro";

const { t } = Astro.props;
---

<!doctype html>
<html lang={t.languageCode}>
  <head>
    <meta charset="UTF-8" />
    <title>{t.currentPageTitle} · {t.pabSanTronLabel}</title>
  </head>

  <body>
    <header>
      <Hero t={t} />
      <Socials t={t} />
      <SiteNavigation t={t} />
    </header>
    <main>
      <header><h1>{t.currentPageTitle}</h1></header>
      <slot />
    </main>
    <aside>
      <TableOfContents t={t} />
    </aside>
  </body>
</html>
