---
import Hero from "@/components/common/Hero.astro";
import SiteNavigation from "@/components/common/SiteNavigation.astro";
import TableOfContents from "@/components/common/TableOfContents.astro";

const { t } = Astro.props;
---

<!doctype html>
<html lang={t.lang}>
  <head>
    <meta charset="UTF-8" />
    <title>{t.currentPageTitle} · {t.pabSanTronLabel}</title>
  </head>

  <body>
    <header>
      <Hero text={t.pabSanTronLabel} />
      <SiteNavigation
        siteNavigation={t.siteNavigationLabel}
        projects={t.projectsPageTitle}
        about={t.aboutPageTitle}
      />
    </header>
    <main>
      <header><h1>{t.currentPageTitle}</h1></header>
      <slot />
    </main>
    <aside>
      <TableOfContents
        tableOfContents={t.tableOfContentsLabel}
        onThisPage={t.onThisPageLabel}
      />
    </aside>
  </body>
</html>
